body{
    margin: 0;
    padding: 0;
}
.menu {
    margin: 2px;
    padding:0px;
    background-color: #0000ff;
}
.menu a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #fff;
}
.menu a:hover{
    background-color: #fff;
    color: #0000ff;
}
.menu li{
    display: inline-block;
}
.submenu {
    position: absolute;
    display: none;
}
.menu li:hover .submenu {
    display: block;
}
.submenu .menu li{
    display: block;
}