#titulo {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid #ccc;
}

.verde {
    background-color: #00ff00;
    color: #000000;
}
.vermelho {
    background-color: #ff0000;
    color: #ffffff;
}
.azul {
    background-color: #0000ff;
    color: #ffffff;
}
.preto {
    background-color: #000000;
    color: #ffffff;
}