@charset "UTF-8";
body{
    background: white;

}
.azul{
    background-color: blue;
    color: white;
}
.vermelho{
    background: red;
    color: white;
}

.verde{
    background: green;
    color: black;
}
#site
 {
    background-color: lightgray;
    color: red;
   display: none;
}