@charset "UTF-8";

.texto{
    width: 200px;
    height: 200px;
    overflow: auto;
    background-color: lightgray;
}

.preto { background-color: black;
    color: white;

}

.verde {

    background: lightgreen;
    color: black;
}

.imagem{

    height: 400px;
}

div {
    margin: 50px;
   

}

.scrollbutton{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: red;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}