.menu{
    background-color: #000;
    height: 30px;
    padding-top: 10px;
}
.menu a{
    padding-left: 10px;
    color: #ff0000;
    text-decoration: none;
}
footer{
    background-color: #ff0000;
    height: 40px;
    width: 100%;
    color: #999;
    position: fixed;
    bottom: 0;

}
footer a{
    text-decoration: none;
    color: #fff;
    padding-left: 15px;
}